.meee {
  display: flex;
  justify-content: center;
margin: auto;
margin-top: 5rem;  
margin-bottom: .8rem;
width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.meee img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2{
      text-align: center;
}
