header{
    margin-bottom: 70px;
}
p{
    text-align: left;
    margin: 70px 7%;
    margin-top: 0;
}
span{font-size: 1.3rem;}

/* sfsdfdfvdsffdsfsdfdsfdfsdfsdfsdfsddfsdfsdfsdf */

@media (max-width: 700px) {
header{
    margin-bottom: 30px;
}
span{font-size: 1.1rem;}
}

@media (max-width: 365px) {
p{
    margin: 50px 3%;
    font-size: 0.8rem;
}
span{font-size: 0.9rem;}
}


@media (min-width: 1400px) {
p{
    margin: 100px 10%;
    font-size: 1.8rem;
}
span{font-size: 2rem;}
}
